.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 63px;
  padding-bottom: 30px;
}
.body {
  font-family: "Roboto", sans-serif;
}
.ramda {
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  color: #000000;
  text-decoration: none;
  margin-bottom: 38px;
  display: block;
}
.ramda-blue {
  color: #4bcaff;
}
.main-navigation {
  background: #35444f;
}
.main-menu__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}
.main-menu__link {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
  padding: 26px 32px 19px;
  display: block;
  border-left: 1px solid #ffffff;
}
.main-menu__link:hover {
  background: #222f3a;
}
.main-menu__link--last {
  border-right: 1px solid #ffffff;
}

.aside-menu__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
.aside-menu__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 44px;
  display: block;
}
.aside-menu__link:hover {
  background: #dbdbdb;
}
.container1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 48px;
}
.text {
  width: 885px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
.text1 {
  margin-top: 37px;
  margin-bottom: 34px;
}
.page-footer {
  padding-right: 40px;
  padding-left: 40px;
}
.footer-menu__list {
  display: flex;
  justify-content: space-between;

  list-style: none;
  width: 875px;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.footer-menu__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}
.footer-menu__link:hover {
  color: #3181a6;
  border-bottom: 2px solid #3181a6;
}

.footer-menu-copy {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  margin-top: 0;
  margin-bottom: 0;
}
.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 21px 40px;
  background: rgba(99, 105, 110, 0.48);
  margin-top: 54px;
}
.wrap-image {
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  border: 1px solid #808080;
  width: 885px;
}
.sidebar {
  border: 1px solid #808080;
  width: 344px;
}
